html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.animation-enter {
  opacity: 0;
  transform:translateY(-100%);
}
.animation-enter-active {
  opacity: 1;
  transform:translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.animation-exit {
  opacity: 1;
  transform:translateY(0);
}
.animation-exit-active {
  opacity: 0;
  transform:translateY(-100%);
  transition: opacity 300ms, transform 300ms;
}


  body {
    color: white;
    background: white;
  }

@font-face {
  font-family: 'Maison Neue';
  src: url(../assets/MaisonNeueTRIAL-Thin.otf);
}